html{
    width: 980px;
    margin: 0 auto;
}
body{
background-image: url(../img/seamless_paper_texture.png);
    min-width: 960px;
}
.logo{
    position:fixed;
    padding: 7px;
    margin: 20px 0 0 0;
}
.izbornik{
    list-style: none;
    display:block;
    float:right;
    padding: 15px;
    margin: 45px 70px;
}
li{
    display:inline;
    padding: 7px;
}

